html {
  background-color: #474747;
}

.Card {
  display: flex;
//   justify-content: center;
//   position: absolute;
//   height: 735px;
//   background: #474747;
//   border-radius: 50px;
}

.Button {
  margin: 5%;
}
